html {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    height: 100%;
}
body {
    display: flex;
    height: inherit;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
}
.container {
    margin: auto;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
img {
    border-radius: 1rem;
    width: 20rem;
  }
h2 {
    font-weight: 700;
    width: 18rem;
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin-top: 2rem;
  }

p {
    width: 17rem;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
    margin-top: 0;
    margin-bottom: 2rem;
  }
.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
}